:root {
    --bg-odd: #171717;
    --bg-even: #212121;
}

html {
    height: 100%;
}

body {
    background: black;
    font-family: arial;
    padding: 0;
    margin: 0;
    color: white;
    font-size: 0.5em;
}

body.greeting {
    background-repeat: no-repeat;
    background-size: cover;
    background-image: radial-gradient(
        ellipse at center,
        var(--bg-odd) 0%,
        var(--bg-even) 20%,
        var(--bg-odd) 21%,
        var(--bg-even) 40%,
        var(--bg-odd) 41%,
        var(--bg-even) 60%,
        var(--bg-odd) 61%,
        var(--bg-even) 80%,
        var(--bg-odd) 81%,
        var(--bg-even) 100%,
        var(--bg-odd) 101%
    );
}

ul {
    margin: 0;
    padding: 0;
    font-size: 14px;
    position: relative;
}

li {
    font-size: 1em;
    display: inline-block;
    width: 6em;
    height: 2em;
    padding: 4px;
    margin: 2px;
    border: 1px solid white;
    opacity: 0.1;
}

li.selected,
li:hover {
    opacity: 1;
    background: rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

.warning {
    position: fixed;
    top: 0;
    left: 50%;
    z-index: 1;
    text-align: center;
    font-size: 20px;
    color: white;
    background: red;
    padding: 0.3em 0.8em;
    margin: 1em -25%;
    display: block;
    width: 50%;
}