:root {
    --ui-grid: #fff;
}

.icon {
    display: inline-block;
    vertical-align: middle;
    box-sizing: border-box;
    width: 1em;
    height: 1em;
    font-size: inherit;
    position: relative;
}

.widget l a {
    text-decoration: none;
    color: white;
}

.usage {
    width: 3.5em;
    overflow: hidden;
    position: relative;
    height: 0.8em;
    border-radius: 1em;
    background: linear-gradient(
        to right,
        var(--bgcolor) var(--width),
        #111 var(--width),
        #111 var(--width)
    );
}

.usage:before,
.usage:after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    border: solid rgba(0, 0, 0, 0.8);
    border-width: 0 0.03em;
    left: 20%;
    right: 20%;
}

.usage:after {
    left: 40%;
    right: 40%;
}

.chip {
    position: relative;
    background: #111;
    z-index: 1;
    width: 0.9em;
    height: 1em;
}

.chip:after {
    position: absolute;
    top: 0.23em;
    content: '';
    border: double white;
    background: transparent;
    border-width: 0.2em 0;
    height: 0.1em;
    right: -0.06em;
    left: -0.06em;
    z-index: 0;
}

.chip:before {
    position: absolute;
    z-index: 2;
    content: '';
    width: 90%;
    height: 90%;
    background: #333;
    display: block;
    margin: 0.036em;
    border-radius: 0.1em 0 0 0;
}

.pages {
    display: inline-block;
    vertical-align: top;
    position: relative;
    width: 0.7em;
    height: 1em;
    background: #ccc;
    border-radius: 0 0.1em 0 0;
}

.pages:before {
    content: '';
    border: 0 double black;
    border-width: 0.25em 0;
    position: absolute;
    width: 70%;
    height: 0.1em;
    margin: 0.1em 0.1em;
}

.pages:after {
    content: '';
    width: 0.7em;
    height: 0.9em;
    position: absolute;
    bottom: -0.1em;
    right: -0.1em;
    border: 0.1em solid #333;
    border-width: 0 0.1em 0.1em 0;
    margin: -0.1em;
    z-index: 1;
}

.watch,
.clock {
    position: relative;
    border: 0.1em solid #fff;
    border-radius: 1em;
}

.clock {
    border-style: solid;
    border-width: 0.1em;
}

.watch:after {
    position: absolute;
    left: 0.25em;
    top: -0.15em;
    content: '';
    width: 0.3em;
    height: 0.1em;
    background: white;
    display: block;
    color: red;
}

.clock:after {
    position: absolute;
    left: 0.345em;
    top: 0.16em;
    content: '';
    width: 0.1em;
    height: 0.25em;
    background: white;
    display: block;
    transform: rotate(var(--hour));
    transform-origin: center 90%;
    animation-name: loop;
    animation-duration: 12h;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.watch:before,
.clock:before {
    position: absolute;
    left: 0.34em;
    top: 0.07em;
    content: '';
    width: 0.1em;
    height: 0.35em;
    background: #fff;
    display: block;
    transform: rotate(var(--min));
    transform-origin: center 90%;
    animation-name: loop;
    animation-timing-function: linear;
}

.watch:before {
    background: white;
    animation-iteration-count: once;
}

.clock:before {
    animation-iteration-count: infinite;
}

.watch:before {
    animation-duration: var(--duration);
}

.clock:before {
    animation-duration: 1h;
}

@keyframes loop {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
.sun,
.moon {
    border: 0em solid #FFFFFF;
}

.moon {
    background: radial-gradient(
        ellipse at 38% 38%,
        #000000 50%,
        #000000 50%,
        #ffffff 60%
    );
    border-radius: 1em;
}

.sun {
    background: radial-gradient(
        ellipse at 50% 50%,
        #ffffff 10%,
        #FFFFFF 50%,
        #FFFFFF 65%
    );
    border-radius: 1em;
    border: 0.1em dotted black;
}
.picture {
    position: relative;
    border: 0.1em solid white;
    background: balck;
}

.picture:before {
    content: '';
    width: 0.65em;
    height: 0.4em;
    position: absolute;
    top: 0.45em;
    left: 0.1em;
    transform: rotate(-45deg);
    border: 0 solid white;
    border-radius: 0 0.3em 0 0;
    border-width: 0.1em 0.1em 0 0;
}

.picture:after {
    position: absolute;
    content: '';
    top: 0.1em;
    bottom: 0;
    left: 0.1em;
    right: 0;
    width: 0.22em;
    height: 0.22em;
    border-radius: 0.5em;
    background: white;

}

.refresh {
    color: #fff;
    position: relative;
    margin-left: 0.1em;
    margin-top: 0.1em;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    border: 0.1em solid white;
    border-left-color: transparent;
}

.refresh.icon:before {
    content: '';
    position: absolute;
    left: 0.01em;
    top: 0.65em;
    width: 0.1em;
    height: 0.1em;
    border-top: solid 0.15em #FFFFFF;
    border-left: solid 0.15em #FFFFFF;
    -webkit-transform: rotate(-22.5deg);
    transform: rotate(-22.5deg);
}
.refresh.icon:after {
    content: '';
    position: absolute;
    width: 0.3em;
    height: 0.3em;
    left: 0.26em;
    top: 0.24em;
    background: white;
    border-radius: 50%;
}

.grid {
    cursor: pointer;
}
.grid:before,
.grid:after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border: 0.1em solid var(--ui-grid);
    align-self: center;
    margin: auto;
}
.grid:before {
    width: 33.333%;
    border-width: 0 0.1em;
    box-shadow: 0 1px 0 1px black;
}
.grid:after {
    height: 33.333%;
    border-width: 0.1em 0;
    box-shadow: 1px 0 0 1px black;
}

.target {
    width: 1em;
    height: 1em;
    border: 0 solid white;
    border-width: 0.1em;
    position: relative;
    border-radius: 2em;
}

.target:after,
.target:before {
    position: absolute;
    border: 0 solid white;
    left: 0;
    right: 0;
    content: '';
    height: 0.05em;
}

.target:before {
    border-left-width: 0.2em;
    border-right-width: 0.2em;
    height: 0.1em;
    top: 43%;
}

.target:after {
    border-top-width: 0.2em;
    border-bottom-width: 0.2em;
    width: 0.1em;
    top: 0px;
    left: 46%;
    right: auto;
    bottom: 0;
    height: unset;
}


.settings {
    transform: rotate(90deg);
    cursor: pointer;
}
.settings:before {
    content: "";
    position: absolute;
    width: 0.1em;
    height: 1em;
    margin-left: 0.15em;
    background: #fff;
    box-shadow: 
        0.3em 0 0 0 #fff,
        0.6em 0 0 0 #fff;
}

.settings:after {
    background: #fff;
    content: "";
    position: absolute;
    border-radius: 0.5em;
    width: 0.25em;
    height: 0.25em;
    margin-left: 0.08em;
    box-shadow: 
        0.3em 0.6em 0 0 #fff,
        0.6em 0.21em 0 0 #fff;


}

.menu {
    transform: rotate(90deg);
}
.menu:before {
    content: "";
    position: absolute;
    width: 0.1em;
    height: 0.6em;
    margin-top: 0.2em;
    margin-left: 0.15em;
    background: #fff;
    box-shadow: 
        0.3em 0 0 0 #fff,
        0.6em 0 0 0 #fff;
}

.close {
    transform: rotate(45deg);
}
.close:before,
.close:after {
    content: "";
    position: absolute;
    top: 0;
    left: 45%;
    bottom: 0;
    display: block;
    width:0.11em;
    height:1em;
    background: white;
}
.close:after {
    transform: rotate(90deg);
}