:root {
    --ui-grid: #fff;
}

.icon {
    display: inline-block;
    vertical-align: middle;
    box-sizing: border-box;
    width: 1em;
    height: 1em;
    font-size: inherit;
    position: relative;
}

.widget l a {
  text-decoration: none;
  color: white;
}

.usage {
    width: 3em;
    overflow: hidden;
    position: relative;
    height: 1.2em;
    background: linear-gradient(
        to right,
        var(--bgcolor) var(--width),
        #444 var(--width),
        #444 var(--width)
    );
}

.usage:before,
.usage:after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    border: solid rgba(0, 0, 0, 0.8);
    border-width: 0 0.05em;
    left: 20%;
    right: 20%;
}

.usage:after {
    left: 40%;
    right: 40%;
}

.chip {
    position: relative;
    background: #111;
    z-index: 1;
    width: 0.9em;
    height: 1em;
}

.chip:after {
    position: absolute;
    top: 0.23em;
    content: '';
    border: double white;
    background: transparent;
    border-width: 0.2em 0;
    height: 0.1em;
    right: -0.06em;
    left: -0.06em;
    z-index: 0;
}

.chip:before {
    position: absolute;
    z-index: 2;
    content: '';
    width: 90%;
    height: 90%;
    background: #333;
    display: block;
    margin: 0.036em;
    border-radius: 0.1em 0 0 0;
}

.pages {
    display: inline-block;
    vertical-align: top;
    position: relative;
    width: 0.7em;
    height: 1em;
    background: #ccc;
    border-radius: 0 0.1em 0 0;
}

.pages:before {
    content: '';
    border: 0 double black;
    border-width: 0.25em 0;
    position: absolute;
    width: 70%;
    height: 0.1em;
    margin: 0.1em 0.1em;
}

.pages:after {
    content: '';
    width: 0.7em;
    height: 0.9em;
    position: absolute;
    bottom: -0.1em;
    right: -0.1em;
    border: 0.1em solid #333;
    border-width: 0 0.1em 0.1em 0;
    margin: -0.1em;
    z-index: 1;
}

.watch,
.clock {
    position: relative;
    border: 0.1em solid #fff;
    border-radius: 1em;
}

.clock {
    border-style: solid;
    border-width: 0.1em;
}

.watch:after {
    position: absolute;
    left: 0.25em;
    top: -0.15em;
    content: '';
    width: 0.3em;
    height: 0.1em;
    background: white;
    display: block;
    color: red;
}

.clock:after {
    position: absolute;
    left: 0.345em;
    top: 0.16em;
    content: '';
    width: 0.1em;
    height: 0.25em;
    background: white;
    display: block;
    transform: rotate(var(--hour));
    transform-origin: center 90%;
    animation-name: loop;
    animation-duration: 12h;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.watch:before,
.clock:before {
    position: absolute;
    left: 0.34em;
    top: 0.07em;
    content: '';
    width: 0.1em;
    height: 0.35em;
    background: #fff;
    display: block;
    transform: rotate(var(--min));
    transform-origin: center 90%;
    animation-name: loop;
    animation-timing-function: linear;
}

.watch:before {
    background: white;
    animation-iteration-count: once;
}

.clock:before {
    animation-iteration-count: infinite;
}

.watch:before {
    animation-duration: var(--duration);
}

.clock:before {
    animation-duration: 1h;
}

@keyframes loop {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
.sun,
.moon {
    border: 0.1em solid black;
}

.moon {
    background: radial-gradient(
        ellipse at 40% 40%,
        #212451 50%,
        #b2e1ff 60%,
        #ffffff 70%
    );
    border-radius: 1em;
    box-shadow: 0 0 15px -3px #2191f5;
}

.sun {
    background: radial-gradient(
        ellipse at 50% 50%,
        #ffffff 10%,
        #edd500 50%,
        #feb645 65%
    );
    border-radius: 1em;
    box-shadow: 0 0 15px -3px #edd500;
}
.picture {
    position: relative;
    border: 0.15em solid;
    border-color: 
        rgba(87, 58, 11, 1) 
        rgba(87, 58, 11, 1) 
        rgba(120, 86, 31, 1)
        rgba(120, 86, 31, 1);

    background: linear-gradient(
        to top,
        #337c36 0%,
        #52f26d 33%,
        #a8e2ff 42%,
        #6b97ff 100%
    );
}

.picture:before {
    content: '';
    width: 0.2em;
    height: 0.2em;
    position: absolute;
    top: 0;
    background: yellow;
    border-radius: 1em;
    box-shadow: 0 0 0.3em 0 white;
    margin: 0.13em 0 0 0.15em;
}

.picture:after {
    position: absolute;
    content: '';
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border: 0.01em solid rgba(0, 0, 0, 0.5);
}


.refresh {
  color: #FFF;
  position: relative;
  margin-left: 0.1em;
  margin-top: 0.1em;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  border: 0.1em solid white;
  border-left-color: transparent;
}

.refresh.icon:before {
  content: '';
  position: absolute;
  left: 0.01em;
  top: 0.65em;
  width: 0.1em;
  height: 0.1em;
  border-top: solid 0.15em currentColor;
  border-left: solid 0.15em currentColor;
  -webkit-transform: rotate(-22.5deg);
          transform: rotate(-22.5deg);
}
.refresh.icon:after {
  content: '';
  position: absolute;
  width: 0.3em;
  height: 0.3em;
  left: 0.26em;
  top: 0.24em;
  background: white;
  border-radius: 50%;
}

.grid {}
.grid:before,
.grid:after {
    content: "";
    position: absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    border: 0.1em solid var(--ui-grid);;
    align-self: center;
    margin: auto;
}
.grid:before {
  width: 30%;
  border-width: 0 0.1em;
}
.grid:after {
  height: 30%;
  border-width: 0.1em 0;
}

.target {
    width: 1em;
    height: 1em;
    border: 0 solid white;
    border-width: 0.1em;
    position: relative;
    border-radius: 2em;
}



.target:after,
.target:before {
    position: absolute;
    border: 0 solid white;
    left:0;
    right:0;
    content: "";
    height: 0.05em;
}

.target:before {
    border-left-width: 0.2em;
    border-right-width: 0.2em;
    height: 0.1em;
    top: 43%;
}


.target:after {
    border-top-width: 0.2em;
    border-bottom-width: 0.2em;
    width: 0.1em;
    top: 0px;
    left: 46%;
    right: auto;
    bottom: 0;
    height: unset;
}













