
#main {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 0;
    background-size: cover;
    background-position: 50% 50%;
    display: flex;
    height: 100%;
}


.greeting .welcome {
    display: block;
}
.welcome {
    align-self: auto;
    display: none;
    margin: auto;
}
.welcome:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 70%;
    height: 50%;
    margin: auto;
    border-radius: 50%;
    background: radial-gradient(
        ellipse at center, 
        rgba(0,0,0,1) 0%, 
        rgba(0,0,0,0) 70%
    );
}
.svgicon {
    width: 3em;
    height: 4em;
    font-size: 114px;
    background: transparent;
    animation-name: pulse;
    animation-iteration-count: infinite;
    animation-duration: 5s;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.05);
    }
}
